/local_runner-Desktop_Qt_5_10_0_MinGW_32bit-Release/
/local_runner-Release/
/local_runner-Desktop_Qt_5_10_0_MinGW_32bit-Debug/
/local_runner_console-Desktop_Qt_5_10_0_MinGW_32bit-Debug/
/local_runner_console-Desktop_Qt_5_10_0_MinGW_32bit-Release/
